<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HairB2B</title>

    <!--Import CSS files-->
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/calendar.css"/>
    <link rel="stylesheet" href="assets/css/multipleDatePicker.css"/>
    <link rel="stylesheet" href="assets/css/DatePicker.css"/>

    <!--Import javascript framework files-->
    <script src="assets/js/jquery-3.2.1.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>

    <!--Import AnglerJS files -->
    <script src="app/vendor/angular.js"></script>
    <script src="app/vendor/angular-route.js"></script>
    <script src="app/vendor/ngStorage.min.js"></script>
    <script src="app/vendor/angular-ui-router.min.js"></script>

    <!--Import other javascript files-->
    <script src="app/vendor/moment-with-locales.min.js"></script>
    <script src="app/vendor/moment-timezone.js"></script>
    <script src="app/vendor/multipleDatePicker.min.js"></script>

    <!--Import CSS Less Javascript files and Less files-->

    <link rel="stylesheet/less" href="assets/less/main.less">
    <script src="app/vendor/less.min.js"></script>

    <!--Import AnglerJS App module and config files-->
    <script src="app/app.modules.js"></script>
    <script src="app/app.config.js"></script>
    <script src="app/app.run.js"></script>

    <!--Import AnglerJS Controllers -->
    <script src="app/controllers/main.controller.js"></script>
    <script src="app/controllers/profile.controller.js"></script>
    <script src="app/controllers/create.profile.controller.js"></script>
    <script src="app/controllers/settings.account.controller.js"></script>
    <script src="app/controllers/search.controller.js"></script>
    <script src="app/controllers/profile.view.controller.js"></script>
    <script src="app/controllers/order.place.controller.js"></script>
    <script src="app/controllers/help.controller.js"></script>
    <script src="app/controllers/order.view.controller.js"></script>
    <script src="app/controllers/profile.revenue.controller.js"></script>

    <!--Import AnglerJS component modules -->
    <script src="app/components/signin/signin.module.js"></script>
    <script src="app/components/signup/signup.module.js"></script>

    <!--Import AnglerJS components -->
    <script src="app/components/signin/signin.component.js"></script>
    <script src="app/components/signup/signup.component.js"></script>
    <script src="app/components/calendar/calendar.component.js"></script>

    <script src="app/directives/checkbox.js"></script>
    <script src="app/services/auth.service.js"></script>
    <script src="app/services/search.service.js"></script>
    <script src="app/services/header.verify.service.js"></script>

    <!--Calender Template-->
    <link rel="stylesheet" href="assets/css/calendar.css"/>
    <script src="assets/js/calendar-tpls.js"></script>

    <!--<base href="/">-->
    <base href="/HairB2B/">
</head>
<!-- background="assets/img/sl02.jpg" id="asd"-->
<body ng-app="app" ng-controller="MainController"
      ng-style="{'background':background_image, 'background-repeat': backgroung_image_repeat}">
    <nav class="navbar navbar-inverse navbar-fixed-top AuthNavBarCSS" >
        <div class="container">
            <div class="navbar-header" id="nav_header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#MainAuthNavBar" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#!/" ng-click="clear_history()" class="AuthNavBarCSSBand navbar-brand">HairB2B</a>
            </div>
            <!--User Login/Register/Visitor-->
            <div class="collapse navbar-collapse" id="MainAuthNavBar">
                <ul class="nav navbar-nav navbar-left">
                    <li style="margin-left: 80px"><a href="#!/" ng-click="clear_history()" class="AuthNavBarDesc" id="search"> Search </a> </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown" ng-hide="!(authenticated)" id="profile_dropdown">
                        <a class="dropdown-toggle" id="user_dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <img src="assets/img/default_profile_pic.png" style="width: 30px; margin: -10px 10px -10px 21px; right: 0">
                                    {{username}} <span class="caret"></span></a>
                        <ul class="dropdown-menu" style="background-color: black;">
                            <li ng-show="(profile_status)"><a style="color: white" href="#!/profile" id="myprofile">Profile</a></li>
                            <li ng-show="!(profile_status)"><a style="color: white" href="#!/profile/create">Create Profile</a></li>
                            <li><a style="color: white" href="#!/order/view">My Orders</a></li>
                            <li><a style="color: white" href="#!/profile/revenue">Revenue</a></li>
                            <li><a style="color: white" href="#!/help">Help</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a style="color: white" href="#!/profile/edit">Account and Settings</a></li>
                            <li><a style="color: white" href="#" ng-click="sign_out()">Sign Out</a></li>
                        </ul>
                    </li>
                    <li ng-hide="(authenticated)"><a href="" data-target="#signup_model" data-toggle="modal" class="AuthNavBarDesc" id="signup">Sign up</a> </li>
                    <li ng-hide="(authenticated)"><a href="" style="color: white; font-size: 20px">|</a> </li>
                    <li ng-hide="(authenticated)"><a href=""  data-toggle="modal" data-target="#signin_model" class="AuthNavBarDesc" id="signin">Log in</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="min-width: 1451px; margin-top: 50px">
        <!--Register Section-->
        <sign-up></sign-up>
        <!--Register Section-->
        <sign-in></sign-in>
    </div>

    <div ng-view></div>

    <div class="AuthFooter">
        <div class="container SetContent">
            <div class="col-lg-12">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-8">
                            <p style="font-size: 28px; font-family: Pacifico">HairB2B</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <p>Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Nulla quam velit,
                                vulputate eu pharetra nec, mattis
                                ac neque. Duis </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-8">
                            <p style="font-size: 24px;">Category</p>
                            <p style="font-size: 16px;"><a href="#">Customer Care</a></p>
                            <p style="font-size: 16px;"><a href="#">Quick Guide</a></p>
                            <p style="font-size: 16px;"><a href="#">Contact</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <p style="font-size: 16px; text-align: right">Copyright © 2017</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>