<div class="container Box" style="margin-top: 70px; margin-bottom: 20px">
    <div style="padding: 10px;">
        <p  style="margin-top: 10px; margin-left: 100px; margin-right: 100px" class="text-center"> We sent an email to $email to make sure you own it.
            Please check your inbox and enter the security code to finish setting up your account.<br>
            If you didn't receive the email, click <a href="#">here</a>. We'll send the verification code
            again.</p>
    </div>
</div>