<!--Show Email Verify Box-->
<div ng-include="'views/emailverifybox.html'" ng-init="onInitVerify()" ng-show="(authenticated) && !(email_verify) && (show_error_box)"
     style="margin-bottom: -30px; margin-top: -20px"></div>
<div class="container" ng-controller="OrderPlaceController" ng-init="onInit()" style="min-height: 692px">
    <!--<div style="text-align: center; margin-top: 25%" class="text-info">-->
        <!--<h1>COMING SOON</h1>-->
        <!--<h4>We're currently working on creating this website.</h4>-->
        <!--<h4>We'll be launching soon.</h4>-->
    <!--</div>-->
    <div class="col-xs-12">
        <div class="col-xs-4" style=" text-align: right">
            <img src="assets/img/default_profile_pic.png" style="height: 80px; margin-bottom: 2px; margin-top:25px; margin-left: 30px">
        </div>
        <div class="col-xs-7">
            <h3 style="margin-top: 30px">{{first_name}} {{last_name}}</h3>

            <p style="margin-top: -15px"><span style="font-size: 25px;">
                    <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                </span>(0.0)</p>
            <p class="text-info" style="margin-top: -15px">From Sydney</p>
        </div>
    </div>
    <label class="col-lg-10 col-lg-offset-1" for="job_description">Describe your job: </label>
    <div class="col-xs-12">
        <textarea class="col-lg-10 col-lg-offset-1" id="job_description" ng-model="description" ng-change="updateDesLength(); reset_des_error()" style="resize: none; height: 150px"
                placeholder="I'm looking for a ......">
        </textarea>
        <div class="col-lg-10 col-lg-offset-1">
            <p class="text-info" style="text-align: right"  ng-show="!chrLengthError"> {{characters}} characters remaining</p>
            <p style="color: red; text-align: right" ng-show="chrLengthError"> {{characters}} characters exceeded</p>
            <p style="color: red; text-align: right" ng-show="des_error">* Provide an order description</p>
        </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1">
        <div class="col-xs-6" style="margin-top: 20px">
            <label style="margin-left: -15px">Dates: </label>
            <multiple-date-picker
                    ng-model="myArrayOfDates"
                    disable-days-before="today"
                    highlight-days="highlightDays"></multiple-date-picker>
            <p style="color: red; text-align: right" ng-show="orderDateErr">* Order dates are required to place an order.</p>
        </div>
        <div class="col-xs-6" style="margin-top: 20px">
            <div class="col-xs-12">
                <div>
                    <label class="col-xs-2" style="margin-left: -15px; margin-top: 8px">Expire: </label>
                    <div class="col-lg-8" style="float: right">
                        <input class="form-control" type="datetime-local" value="2017-05-23T15:00:00" min="{{min_date}}">
                    </div>
                </div>
            </div>
            <div class="col-xs-12" style="margin-top: 10px">
                <div>
                    <label class="col-xs-2" style="margin-left: -15px; margin-top: 8px">Location: </label>
                    <div class="col-lg-8" style="float: right">
                        <select  class="form-control" ng-model="selectedLocation" name="size" id="location" >
                            <option ng-repeat="item in location">{{item.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-xs-12" style="margin-top: 10px">
                <div>
                    <label class="col-xs-2" style="margin-left: -15px; margin-top: 8px">Job: </label>
                    <div class="col-lg-8" style="float: right">
                        <select  class="form-control" ng-model="selectedJobType" ng-change="onClickJobType()" name="size" id="jobtype" >
                            <option ng-repeat="item in JobType" ng-show="item.value">{{item.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1" style="margin-top: 20px">
        <div class="col-lg-12" style="background-color: #fafafa; padding: 30px">
            <div class="col-lg-6 text-right" >
                Number of dates:<br>
                Rates:<br>
                Other(Vat,HairB2B):
            </div>
            <div class="col-lg-6 text-left" >
                {{date_count}}<br>
                ${{rate}} per day<br>
                ${{other}}
            </div>
            <div class="col-lg-12 text-right">
                <span style="font-size: 30px">${{total}}</span>
            </div>
        </div>
        <input type="button" value="Proceed" ng-click="proceed()" style="float: right; margin-top: 20px; width: 150px" class="btn btn-success">

    </div>
</div>
