<!--Show Email Verify Box-->
<div ng-include="'views/emailverifybox.html'" ng-init="onInitVerify()" ng-show="(authenticated) && !(email_verify) && (show_error_box)"
     style="margin-bottom: -30px; margin-top: -20px"></div>
<div class="container" ng-controller="ProfileRevenueController" ng-init="onInit()" style="min-height: 692px">
    <div style="text-align: center; margin-top: 25%" class="text-info">
        <h1>COMING SOON</h1>
        <h4>We're currently working on creating this website.</h4>
        <h4>We'll be launching soon.</h4>
    </div>
</div>
