<div class="container SearchBox" ng-show="search_section" style="margin-bottom: 290px">
    <div style="padding-top: 100px">
    <div class="form-group" ng-controller="SearchController">
        <div class="col-lg-12">
            <div class="col-lg-4 col-lg-offset-2">
                <label for="jobtype">Job Type</label>
                <select ng-model="selectedName" class="form-control" name="size" id="jobtype">
                    <option ng-repeat="item in job_types">{{item.name}}</option>
                </select>
            </div>
            <div class="col-lg-4">
                <label for="skill">Skills</label>
                <select ng-model="selectedSkillName" class="form-control" name="size" id="skill">
                    <option ng-repeat="item in skill_types">{{item.name}}</option>
                </select>
            </div>
        </div>
        <div class="col-lg-12 text-center">
            <input type="button" value="Search" ng-click="beginSearch(selectedSkillName,selectedName)" class="btn btn-success" style="width: 300px; margin-top: 20px; margin-bottom: 100px">
        </div>
    </div>
    </div>
</div>