<div ng-include="'views/carousel.html'"></div>
<div class="container" ng-controller="ProfileCreateController" ng-init="onInit()">
    <h3 class="text-info" style="margin-left: 80px">Complete your profile to get started</h3>
    <div class="col-xs-12">
        <hr  class="col-lg-12">
        <div class="col-lg-4">
            <div class="col-lg-12">
                <img src="assets/img/default_profile_pic.png" style="height: 140px; margin-bottom: 10px" class="center-block">
            </div>
            <input type="button" value="Change" class="center-block btn btn-default" style="width: 140px">
        </div>
        <div class="col-lg-8">
            <div class="col-lg-12" style="margin-bottom: 20px;">
                <h1 style="display: inline">{{firstname}} {{lastname}}</h1>
                <p> {{email}} </p>
                <label for="description" class="text-info">Description</label>
                <textarea id="description" ng-model="description" ng-change="updateDesLength()" style="resize: none; height: 80px" class="col-lg-12"></textarea>
                <p class="text-info" style="text-align: right"  ng-show="!chrLengthError"> {{characters}} characters remaining</p>
                <p style="color: red; text-align: right" ng-show="chrLengthError"> {{characters}} characters exceeded</p>
                <p style="color: red; text-align: right" ng-show="des_error">* Provide a description about yourself</p>
            </div>
        </div>
        <hr class="col-lg-12">
    </div>
    <div class="col-lg-12 center-block" style="text-align: center">
        <p class="text-info" style="text-align: left; margin-left: 165px">Select your qualifications and rates</p>
        <div class="col-lg-12">
            <fieldset class="checkboxes" style="margin-left: -22px; margin-top: -10px">
                <div class="col-lg-4">
                    <label checkbox="myCheckbox" style="width: 250px; text-align: left">
                        <input type="checkbox" ng-model="myCheckbox">
                        Educator
                    </label>
                    <div class="form-group" ng-show="myCheckbox">
                        <div class="input-group" style="margin-left: 85px">
                            <span class="input-group-addon">$</span>
                            <input ng-model="price1" type="text" class="form-control" style="width: 120px;">
                        </div>
                        <p class="text-info"><span style="color: red">*</span>Your rates per day </p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <label checkbox="myCheckbox_2" style="width: 250px; text-align: left" >
                        <input type="checkbox" ng-model="myCheckbox_2">
                        Stylist
                    </label>
                    <div class="form-group" ng-show="myCheckbox_2">
                        <div class="input-group" style="margin-left: 85px">
                            <span class="input-group-addon">$</span>
                            <input ng-model="price2" type="text" class="form-control" style="width: 120px;">
                        </div>
                        <p class="text-info"><span style="color: red">*</span>Your rates per day </p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <label checkbox="myCheckbox_3" style="width: 250px; text-align: left" >
                        <input type="checkbox" ng-model="myCheckbox_3">
                        Assistant
                    </label>
                    <div class="form-group" ng-show="myCheckbox_3">
                        <div class="input-group" style="margin-left: 85px">
                            <span class="input-group-addon">$</span>
                            <input ng-model="price3" type="text" class="form-control" style="width: 120px;">
                        </div>
                        <p class="text-info"><span style="color: red">*</span>Your rates per day </p>
                    </div>
                </div>
            </fieldset>
            <p style="color: red; text-align: right; margin-right: 15px"  ng-show="prof_type_error">* Select at least one profile type</p>
            <p style="color: red; text-align: right; margin-right: 15px"  ng-show="prof_type_price_error">* Set your rates for selected job type</p>
        </div>
        <hr class="col-lg-12">
    </div>
    <div class="col-lg-12">
        <p class="text-info" style="text-align: left; margin-left: 165px">Select your qualifications</p>
        <div class="col-lg-12">
            <div class="col-lg-4">
                <div style="margin-left: 50px; float: right">
                    <input type="checkbox" ng-model="skill1"> &nbsp;&nbsp;&nbsp; Barber <br>
                    <input type="checkbox" ng-model="skill2"> &nbsp;&nbsp;&nbsp; Makeup <br>
                    <input type="checkbox" ng-model="skill3"> &nbsp;&nbsp;&nbsp; Dry cutting <br>
                    <input type="checkbox" ng-model="skill4"> &nbsp;&nbsp;&nbsp; Shaving <br>
                    <input type="checkbox" ng-model="skill5"> &nbsp;&nbsp;&nbsp; Hair styling <br>
                    <input type="checkbox" ng-model="skill6"> &nbsp;&nbsp;&nbsp; Wigs cutting <br>
                    <input type="checkbox" ng-model="skill7"> &nbsp;&nbsp;&nbsp; Curling
                </div>
            </div>
            <div class="col-lg-4">
                <div style="float: right">
                    <input type="checkbox" ng-model="skill8"> &nbsp;&nbsp;&nbsp; Coloring <br>
                    <input type="checkbox" ng-model="skill9"> &nbsp;&nbsp;&nbsp; Color correction <br>
                    <input type="checkbox" ng-model="skill10"> &nbsp;&nbsp;&nbsp; Long hair <br>
                    <input type="checkbox" ng-model="skill11"> &nbsp;&nbsp;&nbsp; Short hair
                </div>
            </div>
        </div>
        <p style="color: red; text-align: right; margin-right: 30px" ng-show="skill_error">* Select at least one qualification</p>
        <hr class="col-lg-12">
    </div>
    <div class="col-lg-12">
        <p class="text-info" style="text-align: left; margin-left: 165px">Payment details</p>
        <div class="col-lg-12">
            <div class="form-group" style="margin-left: 225px">
                <label for="payment" class="control-label">Your PayPal Email Address</label>
                <input ng-model="paypal_email" type="text" id="payment" class="form-control" style="width: 400px" placeholder="Payment will be sent to this email address">
            </div>
        </div>
        <p style="color: red; text-align: right; margin-right: 30px" ng-show="paypal_email_error">* PayPal email is required</p>
        <hr class="col-lg-12">
    </div>
    <div class="col-lg-12">
        <input type="button" ng-click="createProfile()" ng-disabled="isStartCreate" class="btn btn-success" value="Create Profile" style="float: right;margin-top: 8px; margin-right: 25px;  width: 220px">
        <img src="assets/img/svg/loading.svg" ng-show="isStartCreate" style="width: 50px; float: right; margin-right: 20px">
    </div>
</div>