<div ng-include="'views/carousel.html'"></div>
<!--Show Email Verify Box-->
<div ng-include="'views/emailverifybox.html'" ng-init="onInitVerify()" ng-show="(authenticated) && !(email_verify) && (show_error_box)"
     style="margin-bottom: -10px; margin-top: -35px"></div>
<div class="container-fluid" style="min-width: 1100px;" ng-controller="ProfileController" ng-init="onInit()">
    <div class="container">
        <div class="col-xs-12" style="margin-top: 20px">
            <div class="col-lg-4">
                <div class="col-lg-12" style="margin-top: 25px">
                    <img src="assets/img/default_profile_pic.png" style="height: 140px; margin-bottom: 10px" class="center-block">
                </div>
                <input type="button" ng-hide="true" value="Change" class="center-block btn btn-default" style="width: 140px">
            </div>
            <div class="col-lg-8">
                <div class="col-lg-12" style="margin-bottom: 20px; margin-top: 20px">
                    <h1 style="display: inline" id="u_p_title">{{firstname}} {{lastname}}</h1>
                    <input id="editBtn" type="button" value="Edit" ng-hide="true" class="btn btn-default" style="float: right; display: inline; margin-top: 5px; width: 80px">
                    <p id="u_p_email">{{email}}</p>
                </div>
                <div class="col-lg-12">
                        <p id="description">{{description}} </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="col-lg-12">
            <div class="col-lg-4">
                <div class="col-lg-10" style="margin-left: 85px">
                    <h4 class="text-info"><b>Job Types</b></h4>
                    <div style="margin-left: 45px">
                        <div ng-repeat="item in job_types">
                            <h5 class="text-info" ng-show="item.value">{{item.name}}</h5>
                        </div>
                    </div>
                    <h4 class="text-info" style="margin-top: 20px"><b>Skills</b></h4>
                        <div style="margin-left: 30px">
                        <div class="col-lg-12">
                            <div ng-repeat="item in skill_types">
                                <h5 class="text-info" ng-show="item.value">{{item.name}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8" style="float: right; margin-top: 0px">
                <div class="col-lg-12">
                <multiple-date-picker
                        ng-model="myArrayOfDates"
                        day-click="checkSelection"
                        highlight-days="highlightDays"
                        disable-days-before="today"></multiple-date-picker>
                </div>

                <div class="col-lg-12" style="margin-top: 15px">
                    <div class="col-lg-3 col-lg-offset-6" style="margin-top: 6px">
                        <input type="checkbox" ng-model="chkBusy" id="chkBusy">
                        <label for="chkBusy">Mark as busy</label>
                    </div>
                    <input type="button" value="Update" ng-click="update()" style="width: 80px; float: right;" class="btn btn-success col-lg-3">
                    <input type="button" value="Reset" ng-click="reset()" style="width: 80px; float: right; margin-right: 6px" class="btn btn-success col-lg-3">
                </div>
            </div>
        </div>
    </div>

</div>

