.AuthNavBarCSS{
    background-color: #23629f;
    color: #4cae4c;
}
.AuthNavBarCSS .container-fluid .navbar-header .AuthNavBarCSSBand{
    font-size: 24px;
    color: #cccccc;
    margin-left: 50px;
}
.AuthNavBarCSS .container-fluid .collapse .nav .AuthNavBarDesc{
    color: #cccccc;
    margin-right: 50px;
}
.AuthFooter{
    position:absolute;
    bottom: 0;
    width:100%;
    min-height:220px;
    background:#fafafa;"
}

.AuthFooter .SetContent{
    color: #23629f;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #fafafa
}