@font-face {
    font-family: Pacifico;
    src: url(../fonts/Pacifico.ttf);
}

.AuthNavBarCSS{
    /*background-color: #23629f;*/
    background-color: rgba(0,0,0,0.4);
    color: #4cae4c;
}

.Box{
    border: black;
    background-color: #000000;
    color: white;
    background-color: rgba(0,0,0,0.4);
}

.SearchBox{
    border: black;
    background-color: #000000;
    color: white;
    background-color: rgba(0,0,0,0.4);
    margin-top: 100px;
}

.AuthNavBarCSSBand{
    font-size: 24px;
    font-family: Pacifico;
    color: #ffffff;
}
.AuthNavBarDesc{
    color: #ffffff;
    text-align: center;
    width: 100px;
}

#signin:hover{
    color: #cccccc;
    /*background: #276caf;*/
    background: #323232;
}

#signup:hover{
    color: #cccccc;
    background: #323232;
}

#profile_dropdown a:hover{
    color: #cccccc;
    background: #323232;
}

.AuthFooter{
    position:absolute;
    bottom: 0;
    width:100%;
    min-height:220px;
    background:#fafafa;"
}

.AuthFooter .SetContent{
    color: #23629f;
    margin-top: 40px;
    /*margin-left: 50px;*/
    /*margin-right: 50px;*/
    background-color: #fafafa
}

body .container .signup_page .form-group .SubmitButton{
    background-color: #23629f;
    color: white;
    /*left: 50%;*/
    /*position: absolute;*/
    /*transform: translate(-50%,-50%);*/
    /*margin-top: 18px;*/
}