@font-face {
    font-family: Pacifico;
    src: url(../fonts/Pacifico.ttf);
}

.AuthNavBarCSS{
    background-color: #23629f;
    color: #4cae4c;
}

.AuthNavBarCSS .container .navbar-header .AuthNavBarCSSBand{
    font-size: 24px;
    font-family: Pacifico;
    color: #cccccc;
}
.AuthNavBarCSS .container .collapse .nav .AuthNavBarDesc{
    color: #cccccc;
    text-align: center;
    width: 100px;
}

.AuthNavBarCSS .container .collapse .nav #signin:hover{
    color: white;
    /*background: #276caf;*/
    background: #1f588f;
}

.AuthNavBarCSS .container .collapse .nav #signup:hover{
    color: white;
    background: #1f588f;
}

.AuthFooter{
    position:absolute;
    bottom: 0;
    width:100%;
    min-height:220px;
    background:#fafafa;"
}

.AuthFooter .SetContent{
    color: #23629f;
    margin-top: 40px;
    /*margin-left: 50px;*/
    /*margin-right: 50px;*/
    background-color: #fafafa
}

body .container .signup_page .form-group .SubmitButton{
    background-color: #23629f;
    color: white;
    /*left: 50%;*/
    /*position: absolute;*/
    /*transform: translate(-50%,-50%);*/
    /*margin-top: 18px;*/
}